
.patricia span{
    font-size: 5rem !important;
}
.logo-size {
    width: 65px;
}
.photo {
    width: 330px;
    height: 330px;
}
.fontTitle {
    font-size: 2em;
    text-align: center;
}
.font-subtitle {
    font-family: 'Amaranth', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}
hr {
    width: 60px;
    border: rgb(202, 81, 202) 4px solid;
}
.text-lila {
    color: rgb(202, 81, 202);
}
.section1 {
    padding-top: 0px;
}
.hrefIcon {
    font-size: 4em;
    text-align: center;
    color: #ffffff;
}
.fontSize {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: black;
    z-index: 200;
}

/*-------------sección inicio---------------*/
.bg-imageIn {
    background-image: url('../assets/images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 100vh;
  }
  .containerPhrase {
    width: 80%;
    /*height: 100vh;*/
    justify-content: center;
    z-index: 100;
    margin-top: 0px;
    
  }
  .containerPhrase p {
    font-family: 'Amaranth', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 0;
  }
  .subContainerPhrase {
      height: 35vh;
      position: absolute;
      margin-top: 15vh;
  }
  .subContainerPhrase .phrase {
      color: black;
      background-color: rgba(255,255,255, 0.5);
  }
  .subContainerPhrase .author {
    font-size: 2.5rem;
  }

  .bg-imageAm {
      background-color: white;
      position: relative;
      
  }
  .zIndex {
      z-index: -200;
  }
  .btn-Am {
      text-align: center;
      border: 2px solid black;
      padding: 8px;
  }

  .pins {
      height: 150px;
      width: 150px;
      border-radius: 50%;
  }

  .font-recon {
    font-family: 'Amaranth', sans-serif;
    font-weight: bold;
  }
  .font-pins {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.3rem;  
  }

  .bg-contact {
      background-color: white;
  }
  .btnCV {
      color: #0a0a0a;
      border-radius: 10px;
      font-weight: bold;
  }
  .bg-proyects {
      background-color: white;
  }
  .text-darken-4 {
      font-weight: bolder;
  }

  .button {
      border-radius: 20px;
  }
  .hover-nav:hover {
    color: rgb(202, 81, 202);    
  }
  .text-align {
      text-align: center;
      /*outline: 1px solid black;*/
      margin-top: 0px;
  }
  .cont-textalign {
      padding-top: 1%;
  }
  .footer {
      height: 9vh;
      background-color: #0a0a0a;
  }
  @media (max-width:1024px) {
    .logo-size {
        width: 57px;
    }
      .pins {
        height: 70px;
        width: 70px;
        border-radius: 50%;
    }
    #conoce {
        display: none;
    }
    .font-recon {
        text-align: center;
    }
    .phrase-mobile {
        font-size: 0.5rem;
    }
    .hide-pins-mobile {
        display: none;
    }
  }

 